<Form class="download">
	{{> Title title="Загрузите файл"}}
	{{> Button label="Выбрать файл на компьютере" type="link" text-underline = true}}
	{{> Button label="Поменять" type="primary" data-message = "Нужно выбрать файл" }}
</Form>
