<Form class="changePassword">
	{{> Avatar avatarUrl = "../../../public/assets/profile.svg" name="avatar"}}
	<div class="changePassword__form">
		{{> Input label="Старый пароль" type="password" name="oldPassword" }}
		{{> Input label="Новый пароль" type="password" name="newPassword" }}
		{{> Input label="Повторить старый пароль" type="password" name="oldPassword" }}
	</div>
	{{> Button label="Сохранить" type="primary" }}
</Form>
