<div class="container">
	<Form class="profile-form">
		{{> Avatar avatarUrl = "../../assets/01.jpg" name="avatar"}}
		<div class="profile__form-changePassword">
			{{> Input label="Старый пароль" type="password" name="oldPassword" }}
			{{> Input label="Новый пароль" type="password" name="newPassword" }}
			{{> Input label="Повторить старый пароль" type="password" name="oldPassword" }}
		</div>
		{{> Button label="Сохранить" type="primary" }}

	</Form>
</div>