 
.button {
    background-color: initial;
    border: none;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    cursor: pointer;
  }
  .button__error{
	content: attr(data-message); 
	color: var(  --error-color);
	font-size: 11px;
	font-weight: 500;
	line-height: 30px;
  }
  .button__error::after{
	content: attr(data-message); 

  }

  .button__attention {
	color: var(--error-color);
	font-size: 11px;
    text-align: center;
	outline: none;
	
  }
  .button__primary {
 	background-color: var(--main-color);
   	color: #fff;
    font-size: 13px;
	border-radius: 8px;
    font-weight: 500;
    line-height: 13px;
    border: none;
    width: 280px;
    height: 37px;
    margin-top: 60px;
    cursor: pointer;
  }
  
  .button__link {
    color: var(--main-color);
    font-size: 11px;
    text-align: center;
	outline: none;
  }
  .button__link__underline {
	text-decoration: underline;
  }
  .button__link:focus, .button__attention:focus {
    outline: none;
  }
 
  .button-arrow {
    background-color: var(--main-color);
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }
  
  .button-arrow__left,
  .button-arrow__right {
    margin: 0 auto;
    width: 11px;
    height: 1.6px;
    position: relative;
    background-color: #fff;
  }
  
  .button-arrow__left::after,
  .button-arrow__left::before,
  .button-arrow__right::after,
  .button-arrow__right::before {
    content: "";
    background-color: #fff;
    display: inline-block;
    width: 7px;
    height: 1.6px;
    position: absolute;
  }
  
  .button-arrow__right::after {
    transform: rotate(45deg);
    bottom: 2px;
  }
  
  .button-arrow__right::before {
    transform: rotate(-45deg);
    top: 2px;
  }
  
  .button-arrow__left::after {
    transform: rotate(-45deg);
    bottom: 2px;
    left: -1px;
  }
  
  .button-arrow__left::before {
    transform: rotate(45deg);
    top: 2px;
    left: -1px;
  }
  