<Form class="download__error">
	{{> Title title="Ошибка, попробуйте ещё раз" textError = true}}
	{{> Button label="Выбрать файл на компьютере" type="link" text-underline = true}}
	{{> Button label="Поменять" type="primary" }}
</Form>
