<div class="container">
	<Form class="profile-form">
		{{> Avatar avatarUrl = "../../assets/01.jpg" name="avatar" avatarChange = "true" }}
		{{> Title title="Иван" name="first_name"}}
		<div class="profile__form-dataUser">
			{{> Input label="Почта" type="text" name="email" value ="pochta@yandex.ru" }}
			{{> Input label="Логин" type="text" name="login" value = "ivanivanov" }}
			{{> Input label="Имя" type="text" name="first_name" value = "Иван" }}
			{{> Input label="Фамилия" type="text" name="second_name" value = "Иванов" }}
			{{> Input label="Имя в чате" type="text" name="second_name" value = "Иван" }}
			{{> Input label="Телефон" type="text" name="phone" value = "+7(909)9673030" }}

		</div>
		{{> Button label="Сохранить" type="primary" }}


	</Form>
</div>