<Form class="chat__container">
	<section class="chat">
		<div class="chats">
			<div class="chats__profile-link-block">
				<a href='#' class="chats__profile-link">Профиль</a>
			</div>
			<div class="chats__block">
				<div class="chat__list">
			{{> SearchBar}}
			{{> ListUsers}}
		</div>
			</div>
		</div>
		<div class="feed">
			<p class="feed__not_chats">Выберите чат чтобы отправить сообщение</p>
		</div>
	</section>
</Form>
