<nav>
  <ul>
    <h4>Авторизация/регистрация</h4>
    <li><a href="#" page="signIn">Login</a></li>
    <li><a href="#" page="signUp">SignIn</a></li>
    <h4>Ошибки</h4>
    <li><a href="#" page="error404">error404</a></li>
    <li><a href="#" page="error500">error500</a></li>
    <h4>Профайл</h4>
    <li><a href="#" page="profile">profile</a></li>
    <li><a href="#" page="editProfileInformation">editProfileInformation</a></li>
    <li><a href="#" page="changePassword">changePassword</a></li>
    <h4>модальные окна - загрузка аватара</h4>
    <li><a href="#" page="download-success">download-success</a></li>
    <li><a href="#" page="download-error">download-error</a></li>
    <li><a href="#" page="download">download</a></li>
    <li><a href="#" page="modalUser">modalUser</a></li>
    <li><a href="#" page="chat">chat</a></li>
    <li><a href="#" page="addUser">addUser</a></li>
  </ul>
</nav>;
