<div class="avatar-container">
{{avatarUrl}}
    <div class="avatar">
        <img src={{#if avatarUrl}} "{{avatarUrl}}" {{else}} "/assets/icons/profile.svg"{{/if}} alt="avatar" class="avatar__image" name ="{{name}}">
		{{#if avatarChange}}
        <div class="avatar__overlay">
            <span class="avatar__overlay-text"></span>
        </div>
		{{/if}}
    </div>
</div>
