.formProfileEdit{
	display: flex;
    flex-direction: row;
    min-height: 100vh;
	min-width: 1024px;
	
	&__btn-back{
		position: absolute;
		left: 0;
		height: 100vh;
		display: flex;
		width: 64px;
		background-color: #FBFBFB;
		align-items: center;
		justify-content: center;
	}

	&__fields-wrapper{
		display: flex;
	 flex-direction: column; 
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		padding-top: 80px;
		padding-bottom: 109px;
	}
}
