.mesageArea {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

	&__date {
		margin: 16px auto 30px;
		display: flex;
		justify-content: center;
		color: var(--text-secondary-color);
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
	}

	&__incoming{
		background-color: var(--background-light);
		border-radius: 0 12px 12px;
		width: 380px;
		margin-bottom: 10px;

		&--text{
			margin: 10px 10px 0;
			color: var(--text-dark-gray);
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
		}

		&--date{
			font-size: 9px;
			line-height: 9px;
			font-weight: 500;
			text-align: right;
			color: #999;
			transform: translate(-10px, -10px);
		}
	}

	&__message img {
		width: 306px;
		height: 211px;
		border-radius: 12px;
		object-fit: scale-down;
	}

	&__image {
		background-color: var(--background-white);
		border-radius: 12px;
		width: 316px;
		margin-bottom: 10px;
		border: 1px solid var(--text-light-gray);
		margin-right: auto;
	}
	
	&__sent {
		background-color: var(--second-color);
		border-radius: 12px 12px 0;
		width: 114px;
		margin-bottom: 10px;
		margin-left: auto;

		&--message {
			margin: 10px 10px 0;
			color: var(--text-dark-gray);
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
		}

		&--date {
			font-size: 9px;
			line-height: 9px;
			font-weight: 500;
			text-align: right;
			color: var(--main-color);
			transform: translate(-10px, -10px);
			background: url('/assets/icons/doubleTick.svg') no-repeat;
			background-position: 80px;
		}
	}
}
