.formDownload{
	width: 340px;
	height: 257px;
	top: 631px;
	left: 4310px;
	gap: 0;
	border-radius: 12px 0 0;

	&__content{
		width: 122px;
		height: 32px;
		top: 727px;
		left: 4809px;
		gap: 0;
		margin-left: auto;
		margin-right: auto;
		text-decoration: underline var(--main-color);
	}

	&__button{
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}
}
