.chats__search-input {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // border-radius: 5px;
    // // background-color: $back-panel-dark;
    // border: none;
    // width: 93%;
    // height: 32px;
    // margin-bottom: 14px;
	width: 290px;
	height: 32px;
	border: none;
	border-radius: 5px;
	background: #EFEFEF;
	background-image: url("/public/assets/search.svg");
	background-repeat: no-repeat;
    outline: none;
	text-align: center;


    .chats__search-button {
        border: none;
        height: 26px;
    }

    .chats__search-input {
        // @include deleteBorderInput;
        text-align: left;
        width: 90%;
    }
}
