<div class="chats__search">
	{{!-- <button class="chats__search-button" type="submit"><img class="chats__search-img"
			src="/public/assets/search.svg"></button> --}}
	{{!-- <img src="/public/assets/search.svg" /> --}}
	<input class="chats__search-input" type="text" placeholder="Поиск" name="message">
</div>
