// .input {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
//     min-width: 280px;
// 	font-size: 9px;

// 	&__label {
// 		color: var( --text-secondary-color);
// 		margin-top: 7px;
// 		font-size: 9px;
// 		font-weight: 500;
// 		line-height: 9px;
// 		text-align: left;
// 	}

// 	&__label-isSide {
// 		display: flex;
// 		align-items: flex-start;
// 		justify-content: flex-start;
// 		min-width: 280px;
// 	}

// 	&__field {
// 		width: 100%;
// 		height: 30px;
// 		border: none;
// 		padding: 0%;
// 		border-bottom: 1px solid var(--main-color);
// 		font-size: 13px;
// 		font-weight: 500;
// 		padding-bottom: 7px;
// 		background: none;
// 		color: var(--text-color);
		
// 		&-error, 
// 		&:invalid::after {
// 			content: attr(data-message);
// 			color: var(--error-color);
// 			font-size: 11px;
// 			font-weight: 500;
// 			line-height: 30px;
		
// 		}

// 		&:focus-visible {
// 			outline: none;
// 		  }
// 	}

// 	&__message-error{
// 		color: var(--error-color);
// 		font-size: 8px;
// 		font-weight: 400;
// 		line-height: 8px;
// 		text-align: left;
// 		margin-top: 5px;
// 	}
// }


// fbvf
.input {
    // padding: 10px;
  }
  
  .input__container {
    display: flex;
    height: 38px;
    flex-direction: column;
    align-content: flex-end;
	width: 320px;
  }
  
  .input__label {
    transform: translateY(-21px);
	text-align: left;
    color: var(--text-secondary-color);
    font-size: 13px;
    font-weight: 500;
    user-select: none;
    transition:
      font-size 0.5s,
      transform 0.5s;
  }
  
  .input__element {
    border: none;
    padding: 0%;
    border-bottom: 1px solid var(--main-color);
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 7px;
  }
  
  .input__element:focus-visible {
    outline: none;
  }
  
  .input__text-error {
    transform: translateY(-7px);
    color: var(--error-color);
    font-size: 8px;
    font-weight: 400;
    display: none;
  }
  
  .input__element:not(:placeholder-shown) + .input__label,
  .input__element:focus + .input__label {
    transform: translateY(-36px);
    font-size: 9px;
  }
  
  .input__error .input__text-error {
    display: block;
  }
  
  .input__error .input__element {
    color: var(--error-color);
  }
