<div class="avatar-container">
    <div class="avatar">
        <img src="{{avatarUrl}}" alt="Avatar" class="avatar__image" name ="{{name}}">
		{{#if avatarChange}}
        <div class="avatar__overlay">
            <span class="avatar__overlay-text"></span>
        </div>
		{{/if}}
    </div>
</div>
