<div class="avatar-container">
    <div class="avatar">
        <img src="{{avatarUrl}}" alt="Avatar" class="avatar-image" name ="{{name}}">
		{{#if avatarChange}}
        <div class="avatar-overlay">
            <span class="overlay-text"></span>
        </div>
		{{/if}}
    </div>
</div>
