.chat {
	&__link_hover {
		width: 400px;
		height: 75px;
		z-index: 1;
		opacity: 0;
		background-color: #e4edfd;
		margin-top: -7.7px;
		margin-left: 0;
		transition: all .3s linear;
		position: absolute;
	}

	&__link:hover>&__link_hover {
		opacity: 1;
	}
}

.listItem {
    display: flex;
    width: 310px;
    height: 70px;
    border-top: 1px solid #eaeaea;
	cursor: pointer;
	
	&--active{
		background-color: #e4edfd;
	}

	// &__image {
	// 	margin: 10px;
	// 	border: 2px solid #EFEFEF;
	// 	// background-color: #EFEFEF;
	// 	width: 48px;
	// 	border-radius: 52%;
	// }

	&__content {
		display: flex;
		flex-direction: column;
		width: 190px;
		margin: 6px 0;
	}

	&__title {
		font-size: 13px;
		font-weight: 600;
		text-align: left;
		line-height: 13px;
		margin: 4px 1px 4px 0;
		color: black;
	}

	&__text {
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		line-height: 15px;
		color: #999;
		margin: 4px 0;
	}
	
	&__date {
		font-size: 9px;
		font-weight: 500;
		line-height: 13px;
		margin: 12px 0 4px;
		padding-left: 20px;
		color: #999;
		display: flex;
		text-align: right;
		justify-content: right;
		width: 22px;
	}

	&__badge {
		font-size: 11px;
		font-weight: 500;
		line-height: 12px;
		margin: 12px 0 4px 25px;
		text-align: center;
		color: #fff;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--main-color);
		display: flex;
		justify-content: center;
		align-items: center;

		&--none {
			display: none;
		}
	}
}

.listItem:hover{
	background-color: #e4edfd;
}

.block{
	color: #646cff;
    text-decoration: inherit;
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

	&__element{
		height: 30px;
		color: #646cff;
		text-align: right;
	}
}

.list__avatar{
	width: 48px;
	height: 48px;
	border-radius: 50%; /* Делает изображение круглым */
	overflow: hidden; /* Обрезает изображение до формы круга */
	display: flex;
	justify-content: center; /* Центрирует изображение по горизонтали */
	align-items: center; /* Центрирует изображение по вертикали */
	border: 2px solid #EFEFEF;
	margin: 10px;
}
  
  .listItem2__image-avatar {
	width: 100%; /* Заполняет доступное пространство внутри круга */
	height: auto; /* Поддерживает соотношение сторон изображения */
	display: block; /* Убирает лишние отступы */
  }